.destination-button {
  border: none;
  border-bottom: 2px solid #fff;
  background-color: transparent;
  color: #fff;
  font-family: "Barlow Condensed";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 19px;
  cursor: pointer;
}
