h1,
h2,
h3,
h4 {
  font-family: 'Bellefair', serif;
  font-weight: normal;
}

h1 {
  font-size: 150px;
}

h2 {
  font-size: 100px;
}

h3 {
  font-size: 56px;
}

h4 {
  font-size: 32px;
}

h5 {
  font-size: 28px;
  letter-spacing: 4.75px;
  font-weight: normal;
}

a {
  text-decoration: none;
  color: #fff;
}

.container {
  margin: 0 auto;
  max-width: 327px;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 691px;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    max-width: 1107px;
  }
}
